.tenant{
  display: inline-block;
  height: 0px;
  width: 220px;
}

.apartment {

  display: inline-block;
  height: 220px;
  width: 220px;
}



.photo{
  border: 1px solid #555555;
  align: right
  width: 70%;
  height: 220px;
  background-size: fixed;
}

.navbar-default {
    background-color: white;
    border-color: white;
}
/* title */
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
