extends ../../layouts/pre-login.jade
block content

  
  h3 Enter new user
  
  .row
    .col-xs-4
      form(method='post', action='/users')
        .form-group
          label(for='email') Email
          input#email.form-control(type='email', name='email', autofocus=true)
        .form-group
          label(for='password') Password
          input#password.form-control(type='password', name='password', autofocus=true) 
        .form-group
          button.btn.btn-default(type='submit') Register
    .col-xs-8
          
           
            
